<!DOCTYPE HTML>
<html lang="en" xmlns:th="=http://www.thymeleaf.org">

<div th:include="fragments/head :: head"></div>
<body>
<div class="container">
    <form action="#" th:action="@{/user/processRegistrationForm}" th:object="${crmUser}" method="post" class="form">
        <h1>Register Feature</h1>
        <p class="error" th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
            error</p>
        <div class="mb-3">
            <label class="form-label">Email * </label>
            <input type="text" th:field="*{email}" class="form-control">
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Password (minimum 7 characters long) *</label>
            <input type="password" th:field="*{password}" class="form-control">
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm password (minimum 7 characters long) *</label>
            <input type="password" th:field="*{matchingPassword}" class="form-control">
            <p th:if="${#fields.hasErrors('matchingPassword')}" th:errorclass="error" th:errors="*{matchingPassword}"/>
        </div>
        <div class="mb-3">
            <label class="form-label">FirstName *</label>
            <input type="text" th:field="*{firstName}" class="form-control">
            <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Registration Code(this is the same for everybody) *</label>
            <input type="text" th:field="*{code}" class="form-control">
            <p th:if="${#fields.hasErrors('code')}" th:errorclass="error" th:errors="*{code}"/>
        </div>
        <div>
            <a th:href="@{/}">
                <button class="btn btn-primary" th:type="button">Go Back</button>
            </a>
            <button type="submit" class="btn btn-primary right-button">Register</button>
        </div>

    </form>

</div>
</body>