<!DOCTYPE HTML>
<html xmlns:th="=http://www.thymeleaf.org">

<div th:include="fragments/head :: head"></div>
<body>
<div th:include="fragments/menu :: nav"></div>
<div class="container">
    <h2 th:text="${driver.driverId != -1} ? 'Updating driver' : 'Adding a new driver'">Adding customer</h2>
    <!---- knows if it needs to update-->
    <form action="#"  th:action="@{/driver/processForm}" th:object="${driver}" method="post" class="form">
        <input type="hidden" th:field="*{driverId}"><div class="mb-3">
        <label class="form-label">Enter your First Name *</label>
        <input type="text" th:field="*{firstName}" class="form-control" >
        <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}" />
    </div>
        <div class="mb-3">
            <label class="form-label">Enter your Last Name *</label>
            <input type="text" th:field="*{lastName}" class="form-control" >
            <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter your Email *</label>
            <input type="text" th:field="*{email}" class="form-control" >
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter your S.B.A Licence *</label>
            <input type="text" th:field="*{sbaLicence}" class="form-control" >
            <p th:if="${#fields.hasErrors('sbaLicence')}" th:errorclass="error" th:errors="*{sbaLicence}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter your PhoneNo *</label>
            <input type="text" th:field="*{PhoneNo}" class="form-control" >
            <p th:if="${#fields.hasErrors('PhoneNo')}" th:errorclass="error" th:errors="*{PhoneNo}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter your Address Line One *</label>
            <input type="text" th:field="*{addressLineOne}" class="form-control" >
            <p th:if="${#fields.hasErrors('addressLineOne')}" th:errorclass="error" th:errors="*{addressLineOne}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter your Address Line Two *</label>
            <input type="text" th:field="*{addressLineTwo}" class="form-control" >
            <p th:if="${#fields.hasErrors('addressLineTwo')}" th:errorclass="error" th:errors="*{addressLineTwo}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter your City *</label>
            <input type="text" th:field="*{addressCity}" class="form-control" >
            <p th:if="${#fields.hasErrors('addressCity')}" th:errorclass="error" th:errors="*{addressCity}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter your State *</label>
            <input type="text" th:field="*{addressState}" class="form-control" >
            <p th:if="${#fields.hasErrors('addressState')}" th:errorclass="error" th:errors="*{addressState}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter your PostCode *</label>
            <input type="text" th:field="*{addressPostCode}" class="form-control" th:type=number>
            <p th:if="${#fields.hasErrors('addressPostCode')}" th:errorclass="error" th:errors="*{addressPostCode}" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </form>
</div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>

</html>