<!DOCTYPE HTML>
<html lang="en" xmlns:th="=http://www.thymeleaf.org">

<div th:include="fragments/head :: head"></div>
<body>
<div th:include="fragments/menu :: nav"></div>
<div class="custom-container">
    <h1>Welcome</h1>
    <OL>
        <li>Add the person(s) and owners</li>
        <li>Add a boat</li>
        <li>Pick an event and put your entry in</li>
    </OL>
    <p>Step 3 can repeat as many times you like as long your details are up-to-date.</p>
    <div th:if="${!personsLicenseExpired.empty}">
        <div th:each="p : ${personsLicenseExpired}" class="login-failure">
            <h2>Update <span th:text="${p.firstName}"></span> <span th:text="${p.LastName}"></span>'s State Boating
                Licence Now</h2>
            <p><span th:text="${p.firstName}"></span> <span th:text="${p.LastName}"></span>'s State Boating Authority
                Licence expired on <span th:text="${p.SbaLicenceExpiryDate}"></span></p>

            <a th:href="@{/person/update/{id}(id=${p.personId})}">
                <button type="button" class="btn btn-primary">Update</button>
            </a>
        </div>
    </div>
    <div th:if="${!boatsLicenseExpired.empty}">
        <div th:each="b : ${boatsLicenseExpired}" class="login-failure">
            <h2>Update <span th:text="${b.name}"></span>'s State Boating Authority registration Now</h2>
            <p><span th:text="${b.name}"></span>'s State Boating Authority registration expired on <span
                    th:text="${b.sbaLicenceExpiryDate}"></span></p>
            <a th:href="@{/boat/update/{id}(id=${b.boatId})}">
                <button type="button" class="btn btn-primary">Update</button>
            </a>
        </div>
    </div>
    <!-- also check if empty-->

    <div th:include="modelPerson/fragment-list :: list"></div>
    <div th:if="${!persons.empty}">
        <p th:if="${error != null}" th:text="${error}"></p>

        <div th:include="modelBoat/fragment-list :: list"></div>
        <div th:if="${!boats.empty}">

            <h2>Current Entries</h2>
            <div th:if="${!entries.empty}">
                <table class="table table-striped">
                    <tr>
                        <th class="home-column">Event Name</th>
                        <th class="home-column">Boat Name</th>
                        <th class="home-column">Driver(s)</th>
                        <th class="home-column">Class</th>
                        <th></th>
                    </tr>
                    <tr th:each="e : ${entries}">
                        <td th:text="${e.event.name}"></td>
                        <td th:text="${e.boat.name}"></td>
                        <td th:text="${e.personsNames}"></td>
                        <td th:text="${e.boatClass}"></td>
                        <td class="right-buttons">
                            <a th:href="@{/entry/printForm/{id}(id=${e.entryId})}">
                                <button type="button" class="btn btn-primary">Print Form</button>
                            </a>
                        </td>
                    </tr>
                    </trforEach>
                </table>
            </div>
            <div th:if="${entries.empty}">
                <p>You don't have any entries in any current events</p>
            </div>
            <h2>Event To Enter</h2>
            <div th:if="${!eventsView.empty}">
                <table class="table table-striped">
                    <tr>
                        <th class="home-column">Name</th>
                        <th class="home-column">Venue</th>
                        <th class="home-column">Date</th>
                        <th class="home-column">Count of Entries</th>
                        <th></th>
                    </tr>
                    <tr th:each="e : ${eventsView}">
                        <td th:text="${e.name}"></td>
                        <td th:text="${e.venue}"></td>
                        <td th:text="${e.date}"></td>
                        <td th:text="${e.entriesCount}"></td>
                        <td class="right-buttons">
                            <a th:href="@{/entry/add/{id}(id=${e.eventId})}">
                                <button type="button" class="btn btn-primary ml-1">Add Entry</button>
                            </a>
                        </td>
                    </tr>
                    </trforEach>
                </table>
            </div>
            <div th:if="${eventsView.empty}">
                <p>There's no events open to enter into.</p>
            </div>
        </div>

        <a th:href="@{/user/settings}">Settings</a>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>

</html>